*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
    height: 800px;
    margin: 0 auto;
}
.header{
    width: 1440px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
    font: 500;
    font-size: 40px;
}
.header h1 span {
    color: rgb(255, 200, 0);
}
.header button {
    margin-left: -100px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: none;
}
.header button:hover {
background-color: rgb(232, 154, 99);
transition: 2s;
}
.header button:active {
    width: 7%;
rotate: 1deg;
}
.header ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.header li:hover{
    background-color:rgb(232, 154, 99) ;
    cursor: pointer;
}
.img{
    position: relative;
    top: 0px;
    left: 200px;
    /* z-index: 3; */
}
.header input {
    margin-right: -160px;
    width: 240px;
    height: 32px;
    border-radius: 15px;
    border: 1px black;
    padding-left: 30px;
}
.header ol {
    outline: none;
    text-decoration: none;
    list-style: none;
    font: 500;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header nav{
    display: flex;
    gap: 10px;
}